header .burger {
  border: none;
  background-color: transparent;
  width: 1.5rem;
  height: 1.375rem;
  padding: 0;
}
.burger img {
  width:100%;
  height: 100%;
}

.btn-wrap {
  position: relative;

}
.btn-wrap img {
  position: absolute;
}
button {
  position: relative;
  color: $darkest-gray;
  background-color: transparent;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  padding: 1.4rem 3.3rem;
  border : 3px solid transparent;
  border-radius: 2.3rem;
}


