$background-color: #FFF;
$gray: #999;
$gray-darker: #555;
$gray-3: #777;
$pink: #FF3998;
$darkest-gray: #111;
$bgc-second: #eee;
$orange: #FF8139;
$container-padding: 2rem;
$light-gray: #fff;